<nav class="mat-elevation-z4">
  <div class="navbar-container">
    <a routerLink="/" class="logo">KarzaMaaf</a>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/faq">FAQ</a></li>
      <li><a routerLink="/blog">Blog</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <button mat-raised-button color="primary" (click)="openCallbackModal()">Request Callback</button>
  </div>
</nav>
